export(
    "getAlgorithmiaClient", "getAlgorithmHandler",
    "ReadAcl.PUBLIC", "ReadAcl.PRIVATE", "ReadAcl.MY_ALGORITHMS",
    "AlgorithmiaAlgorithm", "AlgorithmiaClient", "AlgorithmiaDataFile",
    "AlgorithmiaDataDirectory", "AlgorithmiaDirectoryIterator")
importFrom("methods", "new")
importFrom("utils", "flush.console")
